.body-fp{
    background: linear-gradient(to right,#88E7FF,#2CBDE1,#306EC5,#306EC5);
    background-size: cover;
     color: rgb(0, 0, 0);
     font-family: Sans-Serif;
     font-size: 12px;
    
   }
   .h1-fp{
    font-size: 24px;
    margin: 20px 0px;
    
    
   }
   
   .header-FP{
       display: flex;
       justify-content: center;
       align-items: center;
        margin: 16vh;
        
   }
    .container-FP{
       /* position: absolute; */
       height: auto;
       width: 650px; 
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background-color: rgb(251, 251, 251);
       border-radius: 20px;
       padding: 3px 50px;
       
   } 
   .container-box-FP{
    
       display: flex;
       width: 300px;
       flex-direction: column;
       justify-content: center;
       padding-bottom: 20px;
       
       
   }
   .heading-FP{
       color: black;
       padding-top: 20px;
       
   }
   .reset_btn-FP{

    padding: 10px;   
    margin-bottom: 20px;
    margin-right:20%;
    color: white;
    background-color: #306EC5;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    cursor: pointer;
    
}
   .reset_btn:hover{
    background-color: #025ad6;
   }
   .password-FP{
       
       padding: 5px;
       width: 703px;
       background-color: white;
       border-radius: 5px;
      height: 67px;
   }
   .content-FP{
       font-size: 14px;
   }
   .checkbox-FP{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       padding: 2px;
       gap: 10px;
   }
   .checkbox-container-FP{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    flex-direction: row;
    
   }
   
   
   