.lg-form-container{
  display:flex;
  flex-direction: column;
  background: linear-gradient(to right, #88E7FF,#2DA2D8, #1549ba);
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height:auto;
}

.lg-Form{
    padding-left: 200px;
}
.Header{
  background-color: white;
}
.lg-btn {
    border:none;
    background-color: #0B488F;
    height: 35px;
    width: 130px;
    border-radius: 90px;
    cursor: pointer;
    color: white;
    margin-left: 75%;
    margin-top: 18%;
    margin-bottom: 10%;
    text-align: center;
    text-decoration:white;
    font-size: 18px;
    padding-top: 5px;
    
  }

  .lg-link-fg{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-left: 3%;
  }

  .lg-txt{
    background: none;
    border:none;
    color: white; 
  
  }
  
  .lg-line-height{
    line-height: 2em;
  }

  .login-form{
    display:flex;
    flex-direction: column;
    padding-left: 10px;
  }
  
  
  .login-form label {
    text-align: left;
    padding-bottom: 5%;
    padding-top: 8%;
    color: white;
  }
  
  .login-form input {
    margin: 15;
    width: 200%;
    border: none;
    border-bottom: 2px solid white;
    padding: 5px 5px;
    box-sizing: border-box;
    background:transparent;
  
  }
   
  .lg-bot {
    width: 85%;
    align-items: right;
  }
  
  
  .lg-txt{
    background: none;
    border:none;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .lg-left {
    padding-left: 25%;
  }