.page-container{
    display:flex;
    flex-direction: column;
    max-width:2005px;
    
  } 
.container-main{
    margin: 20px;
}

.center{
  display: block;
  margin: 0 auto;
  /* optional, set a width to constrain the image */
  max-width: 100%;
  height:25px;
  width:50px;
  align-items: center;
}

.flexdiv{
display: flex;
margin: 50px;
}

.div1{
    background-color: #3069C4;
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 20px;
    margin-right: 50px;
    border-radius:50px;
    
}

.div2{
    background-color: #7A30C4;
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 20px;
    margin-right: 50px;
    border-radius:50px;
}

.div3{
    background-color: #AF77E6;
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 20px;
    margin-right: 50px;
    border-radius:50px;

}

.div4{
    display: block;
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 20px;
    margin-right: 50px;
    align-items: center;
   }

.texts{
    margin: 50px;
    font-size: 50px;
    
}

h1{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.imageContent{
    display: flex;
    justify-content:center;
    align-items:center;
    height:560 px;
    width:560px;
}