.button-Done{
        background-color: #0B488F;
        color: white;
        width:160px;
        height:60px;
        padding: 5px;
        border: none; 
        border-radius: 50px; 
        font-family:Arial; 
        font-size:30px; 
    
    }
