.SA-dashboard{
    display:flex;
    flex-direction: column;
    background: linear-gradient(to right, #88E7FF,#2DA2D8, #1549ba);
    font-family: Arial, Helvetica, sans-serif;
  }


  .SA-Dash-koop{
    width: 180px;
    margin-left: 10px;
  }

  .SA-Dash-text1 {
    font-size: 10px;
    margin-left: 40px;
    
  }

  .SA-Dash-text1 h1 {
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

.SA-Dash-button-container{
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex: 1;
    justify-content: flex-start;

}

.SA-Dash-button-container button {
  color: white;
  display: flex;
  background-color: #1549ba;
  
}

   /* Additional styles for the table */

   .SA-Dash-button-container table {
   display:table;
   border-collapse:collapse;
   box-sizing:content-box;
   text-indent: initial;
   border-spacing: 2px;
   border-color: gray;
}

.SA-Dash-button-container table tr{
   padding-top: 40px;
  
}
.SA-Dash-button-container table tr td {
  padding-top: 40px;
  width: 5%;
    
}

.SA-Dash-button-container table tr td h2 {
  font-size: 18px
}

.SA-Dash-button-container table tr td span {
  padding-left: 40px;
  padding-top: 40px;
}
  
  
.SA-Dash-button-container table td button {
  width: 55%;
  border-radius: 30px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.twel {
  width: 27%;
}

 
  .rightside {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  
  
  