.dashboard{
    display:flex;
    flex-direction: column;
    background: linear-gradient(to right, #88E7FF,#2DA2D8, #1549ba);
    font-family: Arial, Helvetica, sans-serif;
  }

  .koop{
    width: 180px;
    margin-left: 10px;
  }

  .text {
    font-size: 10px;
    margin-left: 40px;
    margin-top: 0%;
    
  }
   
  table td {
    width: 10%;
  }
  
  /* Additional styles for the table */
 
  td {
    padding: 10px;
    align-items: center;
    
  }
  
  button {
    width: 50%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;

  }

  .button-container {
    margin-left: 50px;
    margin-top: 50px;
  }

  .twel {
    width: 30%;
  }

  .button-container button {
    color: white;
    display: flex;
    background-color: #1549ba;
    
  }

  .button-container table {
    width: auto;
  }
  
  .rightside {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  
  
  