.container-editprofile {
    margin: auto;
    margin-top: 44px;
    margin-bottom: 44px;
    width: 793px;
    height: 894px;
    position: relative;
    background-color: #2D9DD7;
    border-radius: 55px;
     
    justify-content: center;
    align-items: center;
  }
  
  .h1 {
    color: white;
    font-size: 35;
    margin-inline-end: 230px;
    margin-bottom: 150px;
  }
  
  .formstudent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
    
  .buttons {
    display: flex;
    justify-content: center;
     position: absolute;
     bottom: 80px;
  
  }

   
  .left {
    display: flex;
    flex-direction: column;
  }
  
  p {
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
    color: white;
  }
  
  p:hover {
    text-decoration: underline;
  }
  .footer {
    position: relative;
     display: flex;
     justify-content: space-around;
     
    width: 100%;
    min-height: 293px;
    background-color: rgb(0, 34, 255);
  }
  
  .the_links{
    color: white;
    text-decoration: none;
  }
  .icons{
    margin: 5px;
  }
   .mainholders{
    position: relative;
    width: 80%;
    margin: 6px;
   }

  .label-editprofile{
   display: inline;
   float: left;
   position: absolute;
   left: 0px;
      margin-left: 80px;
      margin-bottom: 10px;
      color: white;
      font-size: 17px;
     
  }

    
  label {
    font-size: 20px;
    margin-top: 20px;
  }


  .inputs{
    display: inline;
    float: right;
    right: 0px;
  
    border-radius: 20px;
    width: 50%;
     
  }
  .input-edit {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
  }
  .asctionbuttons{
    border-radius: 20px;
  }
  .womanimage{
    position: relative;
    
  }
  .infor_holder{
    position: relative;
    width: 40%;
     margin-top: 50px;
     margin-left: 50px;
     margin-bottom: 100px;
  }
  .mainheading{
    display: inline-block;
    right: 50px;
    font-size: 20px;
    color: white;
    
  }
  .studentid{
    display: inline-block;
    position: relative;
    left: 100px;
    top: 14px;
    font-size: 20px;
    color: white;
  }
  