.sg-page-container{
    display:flex;
    flex-direction: column;
    max-width:2005px;
    
  } 

.sg-texts{
    margin: 50px;
    font-size: 20px;
    
}

.sg-mid{
    display: flex;
    margin: 50px;
}

.style-group{
    background-color: #3069C4;
    width: 200px;
    height: 110px;
    text-align: center;
    padding: 30px;
    margin-right: 20px;
    border-radius:50px;   
}


.hp-addicon-btn {
    background: none;
    border:none;
    cursor: pointer;
   
}

.sg-imageContent{
    width: 100px;
    height: 100px;

}

.grptable{
    margin-right: 50px;
}

.tdprop{
    background-color: #3069C4;
    padding: 20px;
    border-radius: 20px;
    margin-right: 50px;      
}

.dlt-btn{
    width: 20px;
    height: 20px;
    margin-top: 100px;
    margin-left: 100px;

}

.grptext{
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: center;
    
}