.content-wrap-Dl2{
    /* flex:5; */
   background: linear-gradient(to right, #88E7FF,#2DA2D8, #1549ba);
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   height:auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   }

.Container-dl2{
    margin-bottom: 200px;
 }

.delete-content2{
    background-color: rgb(209, 215, 230);
    display: flex;
    height: auto;
    width: 500px;
    margin-top: 25vh;
    border-radius: 20px;
    padding: 40px 70px 60px 70px; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-content2 p{
    margin-top: 30px;
    font-size: 20px;
}

.delete-content2 input{
    border: none;
    padding: 5px 5px;
    width: 250px;
    margin-bottom: 50px;
    border-radius: 15px;

}

.DL-btn {
    display: block;
    text-decoration: none;
    background-color: #0c0cc1;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    list-style: none;
    width: 100px;
    text-align: center;
}


.D-btn {
    list-style: none;
}